<nav>
    <ul>
        <li><a  asp-action="Index" asp-controller="Customer">Quản Lý Khách Hàng</a></li>
        <li><a  asp-action="Index" asp-controller="Vehicle">Quản Lý Phương Tiện</a></li>
    </ul>
</nav>